## **The start of analysis with all empty values handled with knn**

In [33]:
import pandas as pd
import numpy as np
import seaborn as sbn
import matplotlib.pyplot as plt
import sys
from sklearn.impute import KNNImputer
# suppress warnings
if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

try:
    dataCo2 = pd.read_csv('CO2.csv')
    dataCo2= pd.DataFrame(dataCo2)
except:
    FileNotFoundError 
    print("data can´t be found")

print(dataCo2) # to see the basic structure of the data
dataCo2 = dataCo2.drop(["UN M49"], axis=1) # This is recommended by the author as the column is not yet reliable.

           Country ISO 3166-1 alpha-3  UN M49  Year         Total  \
0      Afghanistan                AFG       4  1750           NaN
1      Afghanistan                AFG       4  1751           NaN
2      Afghanistan                AFG       4  1752           NaN
3      Afghanistan                AFG       4  1753           NaN
4      Afghanistan                AFG       4  1754           NaN
...            ...                ...     ...   ...           ...
61420       Global                WLD     756  2018  36766.912297
61421       Global                WLD     756  2019  37039.881946
61422       Global                WLD     756  2020  35007.822458
61423       Global                WLD     756  2021  36815.680623
61424       Global                WLD     756  2022  37150.949699

               Coal           Oil          Gas       Cement     Flaring  \
0               NaN           NaN          NaN     0.000000         NaN
1               NaN           NaN          NaN     0.000000         NaN
2               NaN           NaN          NaN     0.000000         NaN
3               NaN           NaN          NaN     0.000000         NaN
4               NaN           NaN          NaN     0.000000         NaN
...             ...           ...          ...          ...         ...
61420  14725.249126  12267.151230  7498.324347  1565.747837  407.294309
61421  14684.277641  12377.248495  7621.995402  1615.727106  435.425169
61422  14225.918061  10899.216217  7556.077650  1633.042883  398.519503
61423  14982.537322  11513.189924  7922.817236  1692.365347  403.428995
61424  15222.908123  11876.300292  7747.715288  1605.401432  397.451425

            Other  Per Capita
0             NaN         NaN
1             NaN         NaN
2             NaN         NaN
3             NaN         NaN
4             NaN         NaN
...           ...         ...
61420  303.145448    4.784997
61421  305.208132    4.770137
61422  295.048144    4.464741
61423  301.341800    4.654736
61424  301.173140    4.658365

[61425 rows x 12 columns]

In [34]:
data = dataCo2.select_dtypes(include=[np.number,"float"]).columns.to_list()
selected_data= dataCo2[data]
imputer = KNNImputer(n_neighbors=5, weights='uniform', metric='nan_euclidean')
after_imputation=imputer.fit_transform(selected_data)
imputed_dataframe= pd.DataFrame(after_imputation,columns=data)
# This cell takes a very long time to run (around 3 min) so don´t run all cells if possible

In [35]:
print(imputed_dataframe)
Knn_dataset=pd.concat([dataCo2["Country"],dataCo2["ISO 3166-1 alpha-3"],imputed_dataframe],axis=1)

         Year         Total          Coal           Oil          Gas  \
0      1750.0      5.603821      9.386300      0.000000     0.000000
1      1751.0      5.663925      9.426146      0.000000     0.000000
2      1752.0      5.683513      9.487057      0.000000     0.000000
3      1753.0      5.745230      9.592979      0.000000     0.000000
4      1754.0      5.852126      9.732917      0.000000     0.000000
...       ...           ...           ...           ...          ...
61420  2018.0  36766.912297  14725.249126  12267.151230  7498.324347
61421  2019.0  37039.881946  14684.277641  12377.248495  7621.995402
61422  2020.0  35007.822458  14225.918061  10899.216217  7556.077650
61423  2021.0  36815.680623  14982.537322  11513.189924  7922.817236
61424  2022.0  37150.949699  15222.908123  11876.300292  7747.715288

            Cement     Flaring       Other  Per Capita
0         0.000000    0.000000    1.965780    0.011583
1         0.000000    0.000000    1.965780    0.011583
2         0.000000    0.000000    1.965780    0.011583
3         0.000000    0.000000    1.965780    0.011649
4         0.000000    0.000000    1.965780    0.011719
...            ...         ...         ...         ...
61420  1565.747837  407.294309  303.145448    4.784997
61421  1615.727106  435.425169  305.208132    4.770137
61422  1633.042883  398.519503  295.048144    4.464741
61423  1692.365347  403.428995  301.341800    4.654736
61424  1605.401432  397.451425  301.173140    4.658365

[61425 rows x 9 columns]

In [36]:
Knn_dataset=Knn_dataset.rename({"ISO 3166-1 alpha-3": "ISO Code", "Total":"Total Co2 Emission (Mt)", "Per Capita":"Per Capita (t)"},axis=1)
Knn_dataset=Knn_dataset.dropna()
print("number of nan values per column\n",Knn_dataset.isna().sum()) # check for nan values.

number of nan values per column
 Country                    0
ISO Code                   0
Year                       0
Total Co2 Emission (Mt)    0
Coal                       0
Oil                        0
Gas                        0
Cement                     0
Flaring                    0
Other                      0
Per Capita (t)             0
dtype: int64

In [37]:
print(Knn_dataset)

           Country ISO Code    Year  Total Co2 Emission (Mt)          Coal  \
0      Afghanistan      AFG  1750.0                 5.603821      9.386300
1      Afghanistan      AFG  1751.0                 5.663925      9.426146
2      Afghanistan      AFG  1752.0                 5.683513      9.487057
3      Afghanistan      AFG  1753.0                 5.745230      9.592979
4      Afghanistan      AFG  1754.0                 5.852126      9.732917
...            ...      ...     ...                      ...           ...
61420       Global      WLD  2018.0             36766.912297  14725.249126
61421       Global      WLD  2019.0             37039.881946  14684.277641
61422       Global      WLD  2020.0             35007.822458  14225.918061
61423       Global      WLD  2021.0             36815.680623  14982.537322
61424       Global      WLD  2022.0             37150.949699  15222.908123

                Oil          Gas       Cement     Flaring       Other  \
0          0.000000     0.000000     0.000000    0.000000    1.965780
1          0.000000     0.000000     0.000000    0.000000    1.965780
2          0.000000     0.000000     0.000000    0.000000    1.965780
3          0.000000     0.000000     0.000000    0.000000    1.965780
4          0.000000     0.000000     0.000000    0.000000    1.965780
...             ...          ...          ...         ...         ...
61420  12267.151230  7498.324347  1565.747837  407.294309  303.145448
61421  12377.248495  7621.995402  1615.727106  435.425169  305.208132
61422  10899.216217  7556.077650  1633.042883  398.519503  295.048144
61423  11513.189924  7922.817236  1692.365347  403.428995  301.341800
61424  11876.300292  7747.715288  1605.401432  397.451425  301.173140

       Per Capita (t)
0            0.011583
1            0.011583
2            0.011583
3            0.011649
4            0.011719
...               ...
61420        4.784997
61421        4.770137
61422        4.464741
61423        4.654736
61424        4.658365

[60333 rows x 11 columns]

In [38]:
print(Knn_dataset.drop(columns=['Year']).mean())

Total Co2 Emission (Mt)    82.043973
Coal                       45.099756
Oil                        23.904613
Gas                         9.466283
Cement                      1.639326
Flaring                     0.682325
Other                       2.051628
Per Capita (t)              2.192979
dtype: float64