## **The start of analysis with all empty values handled with knn**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sbn
import matplotlib.pyplot as plt
import sys
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler
# suppress warnings
if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

try:
    dataCo2 = pd.read_csv('CO2.csv')
    dataCo2= pd.DataFrame(dataCo2)
except:
    FileNotFoundError 
    print("data can´t be found")

print(dataCo2) # to see the basic structure of the data
dataCo2 = dataCo2.drop(["UN M49"], axis=1) # This is recommended by the author as the column is not yet reliable.

           Country ISO 3166-1 alpha-3  UN M49  Year         Total  \
0      Afghanistan                AFG       4  1750           NaN
1      Afghanistan                AFG       4  1751           NaN
2      Afghanistan                AFG       4  1752           NaN
3      Afghanistan                AFG       4  1753           NaN
4      Afghanistan                AFG       4  1754           NaN
...            ...                ...     ...   ...           ...
61420       Global                WLD     756  2018  36766.912297
61421       Global                WLD     756  2019  37039.881946
61422       Global                WLD     756  2020  35007.822458
61423       Global                WLD     756  2021  36815.680623
61424       Global                WLD     756  2022  37150.949699

               Coal           Oil          Gas       Cement     Flaring  \
0               NaN           NaN          NaN     0.000000         NaN
1               NaN           NaN          NaN     0.000000         NaN
2               NaN           NaN          NaN     0.000000         NaN
3               NaN           NaN          NaN     0.000000         NaN
4               NaN           NaN          NaN     0.000000         NaN
...             ...           ...          ...          ...         ...
61420  14725.249126  12267.151230  7498.324347  1565.747837  407.294309
61421  14684.277641  12377.248495  7621.995402  1615.727106  435.425169
61422  14225.918061  10899.216217  7556.077650  1633.042883  398.519503
61423  14982.537322  11513.189924  7922.817236  1692.365347  403.428995
61424  15222.908123  11876.300292  7747.715288  1605.401432  397.451425

            Other  Per Capita
0             NaN         NaN
1             NaN         NaN
2             NaN         NaN
3             NaN         NaN
4             NaN         NaN
...           ...         ...
61420  303.145448    4.784997
61421  305.208132    4.770137
61422  295.048144    4.464741
61423  301.341800    4.654736
61424  301.173140    4.658365

[61425 rows x 12 columns]

In [2]:
copy= dataCo2.drop(["Country","ISO 3166-1 alpha-3","Year"], axis=1)
# Don´t want to normalize year so it may be used later
normalizer = MinMaxScaler()
normalizedCo2 = normalizer.fit_transform(copy)
normalizedData= pd.DataFrame(normalizedCo2, columns=copy.columns)
print(normalizedData)

          Total      Coal       Oil       Gas    Cement   Flaring     Other  \
0           NaN       NaN       NaN       NaN  0.000000       NaN       NaN
1           NaN       NaN       NaN       NaN  0.000000       NaN       NaN
2           NaN       NaN       NaN       NaN  0.000000       NaN       NaN
3           NaN       NaN       NaN       NaN  0.000000       NaN       NaN
4           NaN       NaN       NaN       NaN  0.000000       NaN       NaN
...         ...       ...       ...       ...       ...       ...       ...
61420  0.989663  0.967309  0.991105  0.946421  0.925183  0.935395  0.992661
61421  0.997010  0.964617  1.000000  0.962031  0.954715  1.000000  0.999415
61422  0.942313  0.934507  0.880585  0.953711  0.964947  0.915242  0.966146
61423  0.990975  0.984210  0.930190  1.000000  1.000000  0.926517  0.986755
61424  1.000000  1.000000  0.959527  0.977899  0.948614  0.912789  0.986202

       Per Capita
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
61420    0.006127
61421    0.006108
61422    0.005717
61423    0.005960
61424    0.005965

[61425 rows x 8 columns]

In [3]:
data = dataCo2.select_dtypes(include=[np.number,"float"]).columns.to_list() 
selected_data= dataCo2[data] # to remove normalization simply replace normalizedData with dataCo2 here and the row above.
imputer = KNNImputer(n_neighbors=10, weights='uniform', metric='nan_euclidean')
after_imputation=imputer.fit_transform(selected_data)
imputed_dataframe= pd.DataFrame(after_imputation,columns=data)
# This cell takes a very long time to run (around 3 min) so don´t run all cells if possible

In [4]:
print(imputed_dataframe)
Knn_dataset=pd.concat([dataCo2["Country"],dataCo2["ISO 3166-1 alpha-3"],dataCo2["Year"],imputed_dataframe],axis=1)
# add back Country, iso code and Year to the dataset again.

         Year         Total          Coal           Oil          Gas  \
0      1750.0      4.693150      9.512481      0.000000     0.000000
1      1751.0      3.782479      9.512481      0.000000     0.000000
2      1752.0      3.782479      9.512481      0.000000     0.000000
3      1753.0      3.823132      9.609987      0.000000     0.000000
4      1754.0      3.905410      9.710524      0.000000     0.000000
...       ...           ...           ...           ...          ...
61420  2018.0  36766.912297  14725.249126  12267.151230  7498.324347
61421  2019.0  37039.881946  14684.277641  12377.248495  7621.995402
61422  2020.0  35007.822458  14225.918061  10899.216217  7556.077650
61423  2021.0  36815.680623  14982.537322  11513.189924  7922.817236
61424  2022.0  37150.949699  15222.908123  11876.300292  7747.715288

            Cement     Flaring       Other  Per Capita
0         0.000000    0.000000    2.156490    0.011791
1         0.000000    0.000000    2.156490    0.011791
2         0.000000    0.000000    2.156490    0.011791
3         0.000000    0.000000    2.156490    0.011791
4         0.000000    0.000000    2.156490    0.011791
...            ...         ...         ...         ...
61420  1565.747837  407.294309  303.145448    4.784997
61421  1615.727106  435.425169  305.208132    4.770137
61422  1633.042883  398.519503  295.048144    4.464741
61423  1692.365347  403.428995  301.341800    4.654736
61424  1605.401432  397.451425  301.173140    4.658365

[61425 rows x 9 columns]

In [5]:
Knn_dataset=Knn_dataset.rename({"ISO 3166-1 alpha-3": "ISO Code", "Total":"Total Co2 Emission (Mt)", "Per Capita":"Per Capita (t)"},axis=1)
Knn_dataset=Knn_dataset.dropna()
print("number of nan values per column\n",Knn_dataset.isna().sum()) # check for nan values.

number of nan values per column
 Country                    0
ISO Code                   0
Year                       0
Year                       0
Total Co2 Emission (Mt)    0
Coal                       0
Oil                        0
Gas                        0
Cement                     0
Flaring                    0
Other                      0
Per Capita (t)             0
dtype: int64

In [6]:
print(Knn_dataset)

           Country ISO Code  Year    Year  Total Co2 Emission (Mt)  \
0      Afghanistan      AFG  1750  1750.0                 4.693150
1      Afghanistan      AFG  1751  1751.0                 3.782479
2      Afghanistan      AFG  1752  1752.0                 3.782479
3      Afghanistan      AFG  1753  1753.0                 3.823132
4      Afghanistan      AFG  1754  1754.0                 3.905410
...            ...      ...   ...     ...                      ...
61420       Global      WLD  2018  2018.0             36766.912297
61421       Global      WLD  2019  2019.0             37039.881946
61422       Global      WLD  2020  2020.0             35007.822458
61423       Global      WLD  2021  2021.0             36815.680623
61424       Global      WLD  2022  2022.0             37150.949699

               Coal           Oil          Gas       Cement     Flaring  \
0          9.512481      0.000000     0.000000     0.000000    0.000000
1          9.512481      0.000000     0.000000     0.000000    0.000000
2          9.512481      0.000000     0.000000     0.000000    0.000000
3          9.609987      0.000000     0.000000     0.000000    0.000000
4          9.710524      0.000000     0.000000     0.000000    0.000000
...             ...           ...          ...          ...         ...
61420  14725.249126  12267.151230  7498.324347  1565.747837  407.294309
61421  14684.277641  12377.248495  7621.995402  1615.727106  435.425169
61422  14225.918061  10899.216217  7556.077650  1633.042883  398.519503
61423  14982.537322  11513.189924  7922.817236  1692.365347  403.428995
61424  15222.908123  11876.300292  7747.715288  1605.401432  397.451425

            Other  Per Capita (t)
0        2.156490        0.011791
1        2.156490        0.011791
2        2.156490        0.011791
3        2.156490        0.011791
4        2.156490        0.011791
...           ...             ...
61420  303.145448        4.784997
61421  305.208132        4.770137
61422  295.048144        4.464741
61423  301.341800        4.654736
61424  301.173140        4.658365

[60333 rows x 12 columns]

In [7]:
for country in Knn_dataset["Country"].unique():
# Here we learn that global (total emission for world) has unique rows and if we don´t remove them we will get duplicate emission
    print(country)

Afghanistan
Albania
Algeria
Andorra
Angola
Anguilla
Antarctica
Antigua and Barbuda
Argentina
Armenia
Aruba
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bermuda
Bhutan
Bonaire, Saint Eustatius and Saba
Bosnia and Herzegovina
Botswana
Brazil
British Virgin Islands
Brunei Darussalam
Bulgaria
Burkina Faso
Burundi
Cambodia
Canada
Cape Verde
Central African Republic
Chad
Chile
China
Christmas Island
Colombia
Comoros
Congo
Cook Islands
Costa Rica
Côte d'Ivoire
Croatia
Cuba
Curaçao
Cyprus
Czechia
North Korea
Democratic Republic of the Congo
Denmark
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Ethiopia
Faeroe Islands
Micronesia (Federated States of)
Fiji
Finland
Panama Canal Zone
France
French Polynesia
Gabon
Gambia
Georgia
Germany
Ghana
Greece
Greenland
Grenada
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
Honduras
Hong Kong
Hungary
Iceland
India
Indonesia
Iraq
Ireland
Iran
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
Kosovo
Kuwait
Kyrgyzstan
Laos
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Luxembourg
Macao
North Macedonia
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Mauritania
Mauritius
Mexico
Mongolia
Montenegro
Montserrat
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
New Caledonia
New Zealand
Nicaragua
Niger
Nigeria
Niue
Norway
State of Palestine
Oman
Pakistan
Palau
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Bolivia
Poland
Portugal
Qatar
Cameroon
South Korea
Moldova
South Sudan
Sudan
Romania
Russia
Rwanda
Saint Helena
Saint Lucia
Sint Maarten (Dutch part)
Samoa
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
Spain
Sri Lanka
Saint Kitts and Nevis
St. Kitts-Nevis-Anguilla
Saint Pierre and Miquelon
Saint Vincent and the Grenadines
Suriname
Eswatini
Sweden
Switzerland
Syria
Taiwan
Tajikistan
Thailand
Timor-Leste
Togo
Tonga
Trinidad and Tobago
Tunisia
Türkiye
Turkmenistan
Turks and Caicos Islands
Tuvalu
Uganda
Ukraine
United Arab Emirates
United Kingdom
Tanzania
USA
Uruguay
Uzbekistan
Vanuatu
Venezuela
Viet Nam
Wallis and Futuna Islands
Yemen
Zambia
Zimbabwe
International Shipping
International Aviation
Global

In [8]:
drop_global= Knn_dataset[(Knn_dataset["Country"]=="Global")].index 
print(Knn_dataset.drop(drop_global).drop(columns=['Year']).mean()) 
# This is to avoid duplicates in the emission results since global is the combined value for everything. If we don´t remove it the result get´s twice as high as it should be.

Total Co2 Emission (Mt)    52.937291
Coal                       31.090497
Oil                        13.239792
Gas                         5.109061
Cement                      0.857060
Flaring                     0.363483
Other                       1.797705
Per Capita (t)              2.213035
dtype: float64

In [13]:
print(Knn_dataset.drop(drop_global).drop(columns=['Year']).median())

Year                       1886.000000
Year                       1886.000000
Total Co2 Emission (Mt)       8.255604
Coal                         10.108952
Oil                           0.047997
Gas                           0.000000
Cement                        0.000000
Flaring                       0.000000
Other                         2.156490
Per Capita (t)                0.641968
dtype: float64

In [ ]:
print(Knn_dataset.drop(drop_global).drop(columns=['Year']).std())

In [11]:

top_10 = Knn_dataset.drop(drop_global,inplace=True) # remove global since we want to examine countries and not the world as a whole
top_10 = Knn_dataset.groupby('Country')['Total Co2 Emission (Mt)'].sum().nlargest(10).reset_index() # Add the total emission per country and select the ten highest values

plt.barh(y=top_10["Country"],width=top_10['Total Co2 Emission (Mt)'])
plt.xlabel('Total Co2 Emission')
plt.ylabel('Country')
plt.title('Top 10 Co2 Total by Country')

plt.show()

KeyError: '[61152, 61153, 61154, 61155, 61156, 61157, 61158, 61159, 61160, 61161, 61162, 61163, 61164, 61165, 61166, 61167, 61168, 61169, 61170, 61171, 61172, 61173, 61174, 61175, 61176, 61177, 61178, 61179, 61180, 61181, 61182, 61183, 61184, 61185, 61186, 61187, 61188, 61189, 61190, 61191, 61192, 61193, 61194, 61195, 61196, 61197, 61198, 61199, 61200, 61201, 61202, 61203, 61204, 61205, 61206, 61207, 61208, 61209, 61210, 61211, 61212, 61213, 61214, 61215, 61216, 61217, 61218, 61219, 61220, 61221, 61222, 61223, 61224, 61225, 61226, 61227, 61228, 61229, 61230, 61231, 61232, 61233, 61234, 61235, 61236, 61237, 61238, 61239, 61240, 61241, 61242, 61243, 61244, 61245, 61246, 61247, 61248, 61249, 61250, 61251, 61252, 61253, 61254, 61255, 61256, 61257, 61258, 61259, 61260, 61261, 61262, 61263, 61264, 61265, 61266, 61267, 61268, 61269, 61270, 61271, 61272, 61273, 61274, 61275, 61276, 61277, 61278, 61279, 61280, 61281, 61282, 61283, 61284, 61285, 61286, 61287, 61288, 61289, 61290, 61291, 61292, 61293, 61294, 61295, 61296, 61297, 61298, 61299, 61300, 61301, 61302, 61303, 61304, 61305, 61306, 61307, 61308, 61309, 61310, 61311, 61312, 61313, 61314, 61315, 61316, 61317, 61318, 61319, 61320, 61321, 61322, 61323, 61324, 61325, 61326, 61327, 61328, 61329, 61330, 61331, 61332, 61333, 61334, 61335, 61336, 61337, 61338, 61339, 61340, 61341, 61342, 61343, 61344, 61345, 61346, 61347, 61348, 61349, 61350, 61351, 61352, 61353, 61354, 61355, 61356, 61357, 61358, 61359, 61360, 61361, 61362, 61363, 61364, 61365, 61366, 61367, 61368, 61369, 61370, 61371, 61372, 61373, 61374, 61375, 61376, 61377, 61378, 61379, 61380, 61381, 61382, 61383, 61384, 61385, 61386, 61387, 61388, 61389, 61390, 61391, 61392, 61393, 61394, 61395, 61396, 61397, 61398, 61399, 61400, 61401, 61402, 61403, 61404, 61405, 61406, 61407, 61408, 61409, 61410, 61411, 61412, 61413, 61414, 61415, 61416, 61417, 61418, 61419, 61420, 61421, 61422, 61423, 61424] not found in axis'

In [ ]:
 # remove global since we want to examine countries and not the world as a whole
buttom_10 = Knn_dataset.groupby('Country')['Total Co2 Emission (Mt)'].sum().nsmallest(10).reset_index() # Add the total emission per country and select the ten highest values

plt.barh(y=buttom_10["Country"],width=buttom_10['Total Co2 Emission (Mt)'])
plt.xlabel('Total Co2 Emission')
plt.ylabel('Country')
plt.title(' Buttom 10 Co2 Total by Country')

plt.show()